body {
    margin:0;
    font-family: 'Roboto'
}


header {
    background: #0319f4;
    text-align: center
}


.logo {
    color: #fff;
    font-size: 40px;
    font-family: Anton;
}

/*
Pixerls for Headers 
*/
header input {
    font-size: 20px;
    margin: 20px 0px;
}


.news_items {
    padding:20px;
    box-sizing: border-box;
    border-bottom:1 px solid grey;
}